/* GLOBAL STYLES */
*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    height: 100%;
    scroll-behavior: smooth;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Bebas Neue', 'Brush Script MT', cursive;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
    letter-spacing: 2px;
    color: #222;
}


/* GLOBAL WRAPPER */
.global-wrapper {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

/* HERO SECTION STYLES */
.hero {
    width: 100%;
    height: 100%;
    max-width: 600px;
    background-image: url("../images/left-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-wrapper {
    width: 285px;
    color: #fff;
}
.hero-titile {
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: 2px;
    margin-top: 0;
    margin-bottom: 24px;
}
.hero-link {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 12px 24px;
    background-color: #1e90ff;
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 2px;
}
.hero-link-wrapper {
    display: flex;
    align-items: flex-end;
}
.hero-link-wrapper::before {
    width: 20px;
    height: 20px;
    content: "";
    background-image: url("../images/star-icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 12px;
}





@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    .hero {
        background-image: url("../images/left-bg@2x.jpg");
    }
}